/* About Me Start */

#about {
  height: 100vh;
  background-color: #000a12;
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 10px;
  /* border: 1px solid red; */
 
}

#about > div:nth-child(1) {
  /* border: 1px solid green; */
  width: 40%;
}
#about > div:nth-child(2) {
  /* border: 1px solid blue; */
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

#about > div > h1 {
  position: absolute;
  font-size: 65px;
  font-family: 'Roboto', sans-serif;
  top: 70px;
  color: #ffffff;
}
#about > div > h5{
  position: absolute;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 27px;
  top: 140px;
  color: #ffffff;
}

#about > div > p {
  color: #ffffff;
  position: absolute;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin: auto;
  top: 240px;
  width: 865px;
  text-align: justify;
}

#aboutImg {
  position: absolute;
  margin: 0;
  height: 660px;
  left: 160px;
  top: 150px;
  z-index: 1;
}

#about-two {
  position: absolute;
  height: 530px;
  right: 86px;
  bottom: 0;
}

.buttonContact{

  width: 265px;
  height: 55px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-self: end;
  top: 400px;
  right: 230px;
  position: relative;
  z-index: 1;
 

}
.buttonContact > a > i {
  color: #ffffff; 
  padding-right: 10px;
  transition-duration: .3s;
}

.btn-1{
  text-decoration: none;
  display: inline-block;
  padding: 12px 36px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 40px;
  background-size: 300% 100%;
  /* background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673); */
  background-color: #D35400;
  box-shadow: 0 4px 15px 0 rgb(196 115 49 / 75%);
  cursor: pointer;
  transition-duration: .3s;

}

.btn-1:hover {
  background-color: #b14a06;
}


/* About Me End */

/* Home Responsive Style Start */
@media all and (max-width: 1440px) {
  #aboutImg{
    left: 64px;
    top: 100px;
    height: 500px;
  }
  #about > div > p {
    width: 690px;
    font-size: 23px;
  }
  .buttonContact{
    right: 15%;
    
  }
  #about-two {
    height: 420px;
    right: 0;
  }
  
}
@media all and (max-width: 1200px) {
  #about > div > h1{
    font-size: 60px;
  }
  #about > div > p {
    width: 580px;
    font-size: 21px;

  }
  
}
@media all and (max-width: 1024px) {
  #about > div > h1{
    font-size: 60px;
  }
  #aboutImg{
    top: 170px;
    left: 40px;
  }
  #about > div > p {
    
    width: 520px;
    font-size: 21px;

  }

}

@media all and (max-width: 992px) {
  #about {
    height: 90vh;
  }
  #aboutImg{
    height: 370px;
  }
  #about > div > p {
    width: 430px;
    font-size: 18px;

  }
  #about > div > h5 {
    font-size: 25px;
  }
  .buttonContact{
    right: 20%;
  }
  #about-two {
    height: 300px;
  }
  

}

@media all and (max-width: 768px) {
  #about {
    height: 145vh;
    flex-direction: column-reverse;
    align-items: center;
  }
  #about > div:nth-child(1) {
    width: 80vw;
    height: 50%;
  }
  #about > div:nth-child(2) {
    width: 80vw;
    height: 50%;
  }
  #aboutImg{
    left: 180px;
    height: 545px;
    top: 530px;
  }
  #about > div > h1 {
    left: 50px;
  }
  #about > div > p {
    left: 46px;
    width: 670px;
    font-size: 23px;

  }
  #about > div > h5 {
    left: 6.3%;
    font-size: 25px;
  }
  .buttonContact{
    right: 0;
    
  }
  #about-two {
    right: 30px;
  }
 

}

@media all and (max-width: 576px) {
  #about {
    height: 1250px;
  }
  #aboutImg{
    left: 65px;
    height: 610px;
    top: 580px;
  }
  #about > div > h1 {
    left: 50px;
    font-size: 70px;
  }
  #about > div > p {
    left: 46px;
    width: 480px;
    font-size: 22px;

  }
  #about > div > h5 {
    left: 8.3%;
    font-size: 30px;
  }
  .buttonContact{
    top: 440px;
    
  }
  #about-two {
    right: 8px;
    height: 250px;
  }


}
@media all and (max-width: 425px) {
  #about {
    height: 1130px;
  }
  #aboutImg{
    left: 35px;
    height: 430px;
    top: 600px;
  }
  #about > div > p {
    width: 325px;
    font-size: 20px;
    text-align: justify;
    top: 255px;

  }
  #about > div > h5 {
    left: 12.3%;
    
  }
  .buttonContact{
    top: 500px;
    
  }
  #about-two {
    right: 8px;
    height: 210px;
  }
  

}
@media all and (max-width: 375px) {
 
  #aboutImg{
    left: 25px;
    height: 450px;
    
  }
  #about > div > h1 {
    font-size: 55px;
  }
  #about > div > p {
    width: 300px;
    top: 230px;
    font-size: 21px;

  }
  #about > div > h5 {
    font-size: 25px;
    top: 125px;
    
  }
  .buttonContact{
    top: 500px;
    
  }
  #about-two {
    right: 8px;
    height: 210px;
  }
 
}
@media all and (max-width: 320px) {
 
  #aboutImg{
    left: 15px;
    height: 400px;
    
  }
  
  #about > div > p {
    width: 250px;
    top: 215px;
    left: 11%;
    font-size: 20px;
  }
  #about > div > h1 {
    left: 12%;
  }
  .buttonContact{
    left: 5%;
  }
  #about-two {
    height: 200px;
  }
  

}

/* Home Responsive Style End */