/* Services Start */

#services {
  height: 115vh;
  background-color: #000a12;
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

/* #services > div {
  width: 545px;
  height: 80px;
  background-color: #ffffff;
  position: absolute;
  top: 2px;
  left: 0;
  opacity: 5%;
} */

#services > h5 {
  color: #fff;
  position: absolute;
  top: 45px;
  font-size: 24px;
  opacity: 0.5;
  font-family: 'Roboto', sans-serif;
}

#services > h1 {
  color: #fff;
  font-size: 64px;
  top: 65px;
  position: absolute;
  font-family: 'Roboto', sans-serif;
}

#services > section {
  width: 1577px;;
}

#services > #slider > section {
  width: 1220px;
  height: 800px;
  left: 200px;
  top: 250px;
  position: absolute;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

#services > #slider > section > div {
  height: 389px;
  width: 319px;
  position: absolute;
  box-shadow: rgb(0 0 0) 0px 0px 10px 10px;
  background-color: rgb(255 255 255 / 6%);
  display: flex;
  /* margin: 50px; */
  
}
/* .swiper-slide:not(.swiper-slide-active) {
  filter: blur(1px);
} */
#serOne {
  left: 0;
}
#serTwo {
  left: 38%;
}

#serThree {
  right: 0;
}
#serFour {
  left: 0;
  bottom: 0;
}

#services > img {
  width: 880px;
  height: 640px;
  position: absolute;
  bottom: 0;
  right: 65px;
}
#webDesi {
  height: 84px;
  position: absolute;
  left: 20px;
  top: 15px;
}
#webDevelop {
  height: 84px;
  position: absolute;
  left: 10%;
  top: 15px;
}
#appDeve {
  height: 84px;
  position: absolute;
  right: 205px;
  top: 15px;
}
#graphic {
  height: 84px;
  position: absolute;
  bottom: 280px;
  left: 20px;
}
#webDesH1 {
  color: #ffffff;
  font-size: 40px;
  position: absolute;
  left: 25px;
  top: 70px;
}
#webDevH2 {
  color: #ffffff;
  font-size: 30px;
  position: absolute;
  left: 10%;
  top: 80px;
}
#appDevH2 {
  color: #ffffff;
  font-size: 32px;
  position: absolute;
  right: 35px;
  top: 75px;
}
#graphicH2 {
  color: #ffffff;
  font-size: 36px;
  position: absolute;
  left: 25px;
  bottom: 200px;
}
#webDesP {
  color: #ffffff;
  font-size: 24px;
  height: 127px;
  width: 290px;
  position: absolute;
  left: 15px;
  top: 175px;
  text-align: center;
}
#webDevP {
  color: #ffffff;
  font-size: 24px;
  height: 127px;
  width: 290px;
  position: absolute;
  left: 5%;
  top: 175px;
  text-align: center;
}
#appDevP {
  color: #ffffff;
  font-size: 24px;
  height: 127px;
  width: 290px;
  position: absolute;
  right: 16px;
  top: 175px;
  text-align: center;
}
#graphicP {
  color: #ffffff;
  font-size: 24px;
  height: 127px;
  width: 290px;
  position: absolute;
  left: 15px;
  bottom: 25px;
  text-align: center;
}

/* Services End */

/*Responsive Style Start */
@media all and (max-width: 1440px) {
  #services {
    height: 135vh;
  }
  #services > section {
    width: 1310px;
  }
  #services > #slider > section {
    width: 1065px;
    left: 80px;
  }
  #serTwo {
    left: 36%;
}
  
}
@media all and (max-width: 1200px) {
  #services >  section {
    width: 1160px;
  }
  #services > #slider > section {
    width: 1050px;
    left: 65px;
}
  
  
}
@media all and (max-width: 1024px) {
  #services >  section {
    width: 911px;
  }
  #services > #slider > section {
    width: 720px;
    left: 100px;
  }
  #services > #slider > section > div {
  height: 375px;
  }
  #serTwo {
    right: 0;
    left: auto;
  }
  #serThree {
    left: 0;
    bottom: 0;
  }
  #serFour {
    bottom: 0;
    right: 0;
    left: auto;
  }

}

@media all and (max-width: 992px) {
  
  

}

@media all and (max-width: 768px) {
  #services {
    height: 100vh;
  }
  #services > section {
    width: 780px;
  }
  
  #services > #slider > section {
    width: 200%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 210px;
    top: 80px;
  }
  #services > #slider > section > div {
    position: relative;
    display: flex;
    margin-right: 95px;
    width: 370px;
  }
  #services > img {
    width: 700px;
    height: 550px;
  }
  
  #services > #slider > section > div > p{
    font-size: 28px;
    left: 35px;
  }

}

@media all and (max-width: 576px) {
  #services > section {
    width: 580px;
  }
  #services > #slider > section {
    left: -50px;
  }
  #services > img {
    width: 490px;
    height: 450px;
  }
 

}
@media all and (max-width: 425px) {
  #services > h5 {
    top: 60px;
    font-size: 20px;
  }
  #services > h1 {
    top: 80px;
    font-size: 50px;
  }
  #services > section {
    width: 430px;
  }
  #services > #slider > section {
    left: -25px;
  }
  #services > #slider > section > div {
    margin-right: 50px;
    height: 420px;
    width: 320px;
  }
  #services > img {
    width: 340px;
    height: 350px;
  }
  #services > #slider > section > div > p{
    font-size: 25px;
    left: 17px;
  }
 
}
@media all and (max-width: 375px) {

  #services > section {
    width: 430px;
  }
  #services > #slider > section {
    left: 5px;
    top: 20px;
  }
  #services > #slider > section > div {
    height: 400px;
    width: 300px;
  }
  #services > img {
    width: 300px;
    height: 300px;
  }
  #services > #slider > section > div > p{
    font-size: 20px;
    left: 7px;
    top: 48%;
  }

  #services > #slider > section > div > h2 {
    font-size: 28px;
    top: 90px;
  }
  
  
}
@media all and (max-width: 320px) {
  #services > h5 {
    top: 65px;
    font-size: 18px;
  }
  #services > h1 {
    top: 85px;
    font-size: 40px;
  }
  #services > section {
    width: 430px;
  }
  #services > #slider > section {
    left: 25px;
  }
  #services > #slider > section > div {
    height: 390px;
    width: 266px;
  }
  #services > img {
    width: 243px;
    height: 245px;
  }
  #services > #slider > section > div > img {
    right: 160px;
  }
  #services > #slider > section > div > h2 {
    font-size: 25px;
  }
  #services > #slider > section > div > p {
    width: 240px;
    font-size: 20px;
    left: 11px;
  }
 
}

/* Responsive Style End */