/* Skills Start */

#skills {
  height: 100vh;
  background-color: #000a12;
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;
  /* border: 1px solid red; */
}

#skills > h5 {
  color: #fff;
  position: absolute;
  top: 45px;
  font-size: 24px;
  opacity: 0.5;
  font-family: 'Roboto', sans-serif;
}

#skills > h1 {
  font-size: 72px;
  color: #fff;
  position: absolute;
  top: 60px;
  font-family: 'Roboto', sans-serif;
  
}

#skills > section {
  /* border: 1px solid green; */
  width: 1300px;
  height: 630px;
  top: 250px;
  position: absolute;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* left: 20%; */
}

#skills > section > div {
  height: 260px;
  width: 236px;
  position: absolute;
  color: white;
  box-shadow: rgb(0 0 0) 0px 0px 8px 8px;
  font-family: 'Roboto', sans-serif;
  
}
#divOne {
  left: 0;
}
#divTwo {
  left: 28%;
}
#divThree {
  left: 0;
  bottom: 0;
}
#divfour {
  left: 28%;
  bottom: 0;
}
#divfive {
  left: 55%;
}
#divSix {
  right: 0;
  
}
#divSeven {
  left: 55%;
  bottom: 0;
}
#divEight {
  right: 0;
  bottom: 0;
}

#divOne img {
  position: relative;
  height: 123px;
  left: 55px;
  top: 20px;
}
#divTwo img {
  position: relative;
  height: 123px;
  left: 55px;
  top: 20px;
}
#divThree img {
  position: relative;
  height: 123px;
  left: 55px;
  top: 20px;
}
#divfour img {
  position: relative;
  height: 123px;
  left: 55px;
  top: 20px;
}
#divfive img {
  position: relative;
  height: 123px;
  left: 70px;
  top: 20px;
}
#divSix img {
  position: relative;
  height: 95px;
  left: 25px;
  top: 40px;
}
#divSeven img {
  position: relative;
  height: 123px;
  left: 55px;
  top: 20px;
}
#divEight img {
  position: relative;
  height: 100px;
  left: 35px;
  top: 30px;
}

#skills > section > div > h2 {
  text-align: center;
  top: 20px;
  position: relative;
  font-size: 35px;
}
#divSix h2 {
  top: 50px;
}
#divEight h2 {
  top: 40px;
}
input[type="radio"] {
  display: none;
}

/* Skills End */

/* Home Responsive Style Start */
@media all and (max-width: 1440px) {
  #skills > h5 {
    top: 45px;
  }
  #skills > h1 {
    top: 55px;
  }
  #skills > section {
    width: 870px;
    height: 510px;
    top: 220px;
  }
  #skills > section > div {
    height: 220px;
    width: 180px;
  }
  #skills > section > div > img {
    height: 80px;
  }
  #divTwo img {
    left: 50px; 
  }
  #skills > section > div > h2 {
    font-size: 25px;
  }
  
}
@media all and (max-width: 1200px) {
  
  
}
@media all and (max-width: 1024px) {
  #skills > section {
    width: 200%;
    transition: all 1s ease;
  }
  #two:checked ~ #card {
    margin-left: -100%;
  }
  #skills > .one-card {
    left: 25%;
    width: 110%;
  }
  #skills > .two-card {
    left: 65%;
    width: 110%;
  }
  
  #skills > .button {
    display: flex;
    margin: 20px;
    align-items: end;
  }
  #skills > .button > label {
    height: 15px;
    width: 15px;
    background: #fff;
    margin: 0 4px;
    border-radius: 20px;
    transition: all 0.5s ease;
  }
  #skills > .button > label.active {
    width: 35px;
  }

  #one:checked ~ .button label.one {
    width: 35px;
  }
  #two:checked ~ .button label.two {
    width: 35px;
  }
  #two:checked ~ .button label.one {
    width: 15px;
  }
  #one:checked ~ .button label.two {
    width: 15px;
  }

 
 

}

@media all and (max-width: 992px) {
  

}

@media all and (max-width: 768px) {
  #skills > .one-card {
    left: 22%;
  }
  #skills > .two-card {
    left: 56%;
    width: 120%;
  }
}

@media all and (max-width: 576px) {
  #skills > .one-card {
    left: 11%;
    width: 160%;
  }
  #skills > .two-card {
    left: 10%;
    width: 180%;
  }
 
}
@media all and (max-width: 425px) {
  #skills > h5 {
    font-size: 20px;
  }
  #skills > h1 {
    font-size: 55px;
    top: 65px;
  }
  #skills > section {
    height: 450px;
  }
  #skills > section > div {
    width: 150px;
    height: 180px;
  }
  #divOne img {
    height: 70px;
    left: 40px;

  }
  #divTwo img {
    height: 70px;
    left: 40px;
  }
  #divThree img {
    height: 70px;
    left: 40px;
  }
  #divfour img {
    height: 70px;
    left: 40px;
  }
  #divfive img {
    height: 70px;
    left: 52px;
  }
  #divSix img {
    height: 50px;
    left: 30px;
  }
  #divSeven img {
    height: 70px;
    left: 40px;
  }
  #divEight img {
    height: 60px;
    left: 30px;
  }
  #skills > section > div > h2 {
    top: 40px;
    font-size: 20px;
  }
  #skills > section > div > img {
    height: 55px;
  }
  #skills > .one-card {
    left: 10%;
    width: 160%;
}
#skills > .two-card {
  left: 3%;
  width: 190%;
}
  
 
}
@media all and (max-width: 375px) {
  #skills {
    height: 800px;
  }
  #skills > .one-card {
    left: 7%;
  }
  #skills > .two-card {
    left: 2%;
  }
  
}
@media all and (max-width: 320px) {
 
  #skills > section {
    height: 395px;
    top: 250px;
  }
  #skills > section > div {
    width: 125px;
    height: 170px;
  }
  #skills > section > div > h2 {
    font-size: 15px;
  }
  #divOne img {
    height: 60px;
    left: 35px;

  }
  #divTwo img {
    height: 60px;
    left: 35px;
  }
  #divThree img {
    height: 60px;
    left: 35px;
  }
  #divfour img {
    height: 60px;
    left: 35px;
  }
  #divfive img {
    height: 60px;
    left: 42px;
  }
  #divSix img {
    height: 50px;
    left: 15px;
  }
  #divSeven img {
    height: 60px;
    left: 35px;
  }
  #divEight img {
    height: 50px;
    left: 25px;
  }
 
}

/* Home Responsive Style End */